/* Estilos generales para todos los dispositivos */
body {
    font-family: Arial, sans-serif;
}

/* Estilos específicos para dispositivos móviles (pantallas menores a 768px de ancho) */
@media (max-width: 768px) {

    /* Ajustar el tamaño de los botones en móvil */
    button {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }

    /* Ajustar los campos de entrada */
    input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    /* Cambiar el tamaño del modal en móvil */
    .modal-content {
        width: 90%;
        margin: auto;
    }
}

/* Estilos para dispositivos de escritorio (pantallas mayores a 768px de ancho) */
@media (min-width: 769px) {

    /* Tamaño estándar en escritorio */
    button {
        width: 200px;
        padding: 10px;
        font-size: 14px;
    }

    input {
        width: 300px;
        padding: 8px;
        font-size: 14px;
    }

    .modal-content {
        width: 50%;
        margin: auto;
    }
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Estilo para la lista de productos escaneados (grid) */
#scanned-list {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas por fila */
    gap: 10px;
    /* Espacio entre los elementos */
}

#scanned-list li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}

/* Colores para diferentes estados */
.status-complete {
    background-color: #4CAF50;
    /* Verde si está completo */
}

.status-warning {
    background-color: #FFC107;
    /* Amarillo si está en progreso */
}

.status-incomplete {
    background-color: #e4362ab4;
    /* Rojo si no está escaneado */
}

/* Barra de progreso */
.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin: 5px 0;
}

.progress-bar-inner {
    background-color: #4CAF50;
    height: 100%;
    width: 0;
    transition: width 0.5s;
}

.progress-text {
    display: block;
    margin-top: 5px;
}

/* Estilo para los campos de entrada y botones */
input[type="text"],
input[type="file"],
button {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #cc414d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cc414d;

}

/* Estilo específico para la ciudad */
li .city {
    font-weight: bold;
    font-size: 1.2rem;
    color: #0f0f0fa4;
}

/* Estilos básicos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#open-camera {
    display: flex;
    background-color: transparent;
    justify-content: right;
    align-items: right;
    border: none;
    cursor: pointer;
}
#logo-exprecar {
    display: flex;
    background-color: transparent;
    justify-content: left;
    align-items: left;
    border: none;
}

#open-camera img {
    width: 60px;
    height: 60px;
}

#close-scanner {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10001;
    /* Asegura que esté por encima del video de la cámara */
}

#scanner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    display: none;
    /* Se mostrará cuando el escáner esté activo */
}

#global-counter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c03440d5;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    z-index: 10001;
    /* Asegurarse de que esté en la capa superior */
    display: block;
}